{% extends 'main.html' %}
{% load static %}
{% block content %}



<hr>
<hr>
<hr>
<body class='bg-light'>
<!----->
  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom ">
    <h1 class="display-3 ">Our company</h1>
    <div class="col-lg-6 mx-auto">
     

     
      <h2 class="display-5 fw-bold lh-1 mb-3">Mission</h2>
      <p class="lead mb-4">"“Connect the Uk's professionals to make them more productive and successful.”"<br><span class="text-muted">- Bespoke Recruitment Services</span></p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
       <!-- <button type="button"  class="btn btn-dark btn-lg px-4 me-sm-3">Our mission</button>
        
        <button type="button"  class="btn btn-outline-dark btn-lg px-4">Contact us</button>-->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{% static '/images/screenshot.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>


  <!----->
  <div class="b-example-divider"></div>
 

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static '/images/cv.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      
      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Our vision</h1>
        <p class="lead">“To be the Uks most trusted recruitment company”</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
         <!-- 
          <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-dark btn-lg px-4">Default</button>

        --> 
        </div>
      </div>
    </div>
  </div>
  


<!----->



<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static '/images/contact1.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Contact</h1>
      <p class="lead">Dont hesitate to get in touch with one of our proffesionals</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div> 
    </div>
  </div>
</div>
<div class="b-example-divider"></div>

<!----->

</body>




















  

  







</div>
</div>
</div>
</div>

</div><!--row-->
{% endblock %}





